html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Oculta el scroll en IE y Edge */
    color: white;
}

body::-webkit-scrollbar {
    display: none; /* Oculta el scroll en Chrome, Safari y Opera */
    color: white;
}
